body {
	position: relative;
	overflow-x: hidden;
}

#page-bg {
	position: fixed;
	width: 100%;
	height: 110vh;
	background: url("/img/bg.jpg") top center;
	background-size: cover;
	margin: 0;
	padding: 0;
}

#page-holder {
	z-index: 100;
}
