body {
	position: relative;
	overflow-x: hidden;
}

#page-bg {
	position: fixed;
	width: 100%;
	height: 110vh;
	background: url("/img/bg.jpg") top center;
	background-size: cover;
	margin: 0;
	padding: 0;
}

#page-holder {
	position: relative;
	z-index: 100;
	min-height: 100vh;
}

.content-box-colors {
	background-color: rgba(243, 246, 249, 0.95);
	color: #191919;
}
